{
    "version": 3,
    "Logging": {
        "loggers": [ {
            "severity": "DEBUG",
            "name": "*",
            "debuglevel": 99
        } ]
    },
    "Dhcp4": {
    },
    "Init": {
        "components": {
            "b10-dhcp4": {
                "kind": "needed"
            },
            "b10-cmdctl": {
                "kind": "needed",
                "special": "cmdctl"
            }
        }
    }
}
